<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Blockly Editor</title>

    <!-- <link rel="stylesheet" href="assets/css/section.css"> -->

    <!-- <link rel="import" href="sections/main.html"> -->
    <!-- <link rel="import" href="sections/blockly/index.html"> -->
    <!-- <link rel="import" href="sections/simulation/index.html"> -->
</head>

<body>
    <main class="content">
        <button type="button" id="btnBlockly">Blockly</button>
        <button type="button" id="btnSimulation">Simulation</button>
    </main>

    <script>
        // require('./assets/imports');
        require('../assets/index');
    </script>
</body>

</html>